.main-home-container{
    min-height: 100vh;
}


.statics-heading{
    text-align: center;
    padding-bottom: 15px;
}
.statics-container{
    display: flex;
    justify-content: space-around;
}
.statics{
    padding: 12px;
    color: white;
    background-color: #FB2576;
    border: hidden;
    border-radius: 5px;
}
.country-form{
    display: flex;
    gap: 3px;
}
.text-input {
    padding: 3px;
    border: #B2B2B2 solid 1px;
    border-radius: 4px;
}

.search-country{
    padding: 8px;
    background-color: #1746A2;
    color: white;
    border: hidden;
}
.search-country:hover{
    cursor: pointer;
}
.country-heading{
    text-align: center;
}
.from-container{
    display: flex;
    justify-content: center;
}

.background-card{
    background-color: #FB2576;
    color: #FB2576;
}
.card-container{
    padding: 25px;
    display: flex;
    height: max-content;
}

.data-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.data-country{
    color: #FB2576;
    font-weight: 700;
}
.cases-country{
    padding: 15px;
    border-bottom: #B2B2B2 dashed;
}
.card{
    display: flex;
    flex-wrap: wrap;
    min-height: 20px;
    justify-content: center;
}
.error-message{
   
    color: red;
}
.error-container{
    margin-top: 15px;
    text-align: center;
}

.container{
    margin-top: 50px;
}