
  .animated-header {
    color: hsl(0, 0%, 0%);
    font-size: 50px!important;
    font-weight: bold!important;
    font-family: monospace;
    letter-spacing: 7px!important;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  .animated-header {
    padding: 64px;
    background: linear-gradient(to right, hsl(0, 0%, 29%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 20%, 1%) 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
  }
  
  @keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 600px;
    }
    100% {
      background-position: 600px;
    }
  }

  .gloomy-text {
    position: relative;
    color: hsl(0, 0%, 68%);
    font-weight: bold!important;
    font-family: "Anonymous Pro", monospace!important;
    letter-spacing: 3px!important;
    overflow: hidden;
    border-right: 2px solid hsl(0, 0%, 80%);
    white-space: nowrap;
    animation: typewriter 4s steps(44) 1s 1 normal both,
      blinkTextCursor 500ms infinite;
  }
  
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 710px;
    }
  }
  @keyframes blinkTextCursor {
    from {
      border-right-color: hsl(0, 0%, 80%);
    }
    to {
      border-right-color: transparent;
    }
  }