ul {
  display: flex;
  background-color: #1b1b1b;
  padding: 15px;
  margin-top: 0%;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  padding: 10px;
  color: white;
}
a:hover {
  opacity: 50%;
}

.heading {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 0%;
  justify-content: center;
  background-color: #052c7a;
  align-items: center;
}

.heading-label {
  font-size: 60px;
  font-weight: 900;
}

.heading-label2 {
  font-size: 25px;
  color: white;
}

.heading-label3 {
  font-size: 15;
  color: white;
}
.logo {
  border-radius: 30% 70% 67% 33% / 30% 30% 70% 70%;
  background-color: #e636ae;
  padding: 10px;
  font-size: 20px;
  font-weight: 900;
  margin-left: 10px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
}

.head-container{
    display: flex;
    align-items: center;
    gap: 30px;
}